<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @*<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <title>Chukkadig</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

@{
    <partial name="_TranformScripts" />
}



